
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=zRmbx4hG6U/ylzhptyT7hw==,3x6rI06Xq3oeRoJD0sdpGw==,j5CiV3RwjtjNx2vgiYx0dw==,0F9ZccxAWUNNxXJ3ixc5zw==
API_TOKEN_SALT=RLpMsq2wSBTYdCCg4LmlVQ==
ADMIN_JWT_SECRET=2GExRLuGLPLyNZmHOkLLxw==
TRANSFER_TOKEN_SALT=4l6Hk06zvnMWOHBxbzWGMA==
ENCRYPTION_KEY=CJo2hNC6u6bXIpdg1VvKEA==

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=ecommercedb
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=snc2004
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET=Btu1hyfiWIIkZLy09jhbvg==
